
{% set header_style = node.field_header_style.0.value %}
{% if header_style == '' %}
  {% set header_style = 'style1' %}
{% endif %}

{% set page_title = node.field_page_title.0.value %}
{% if page_title == '' %}
  {% set page_title = 'style1' %}
{% endif %}

{% set footer_style = node.field_footer_style.0.value %}
{% if footer_style == '' %}
  {% set footer_style = 'footer1' %}
{% endif %}

{% set blog_style = node.field_blog_style.0.value %}
{% if blog_style == '' %}
  {% set blog_style = 'style1' %}
{% endif %}

{% set blog_sidebar = node.field_blog_sidebar.0.value %}
{% if blog_sidebar == '' %}
  {% set blog_sidebar = 'right' %}
{% endif %}

{% if header_style == 'style2' %}
    {% include theme_path ~ "/templates/header/header-menu-classic-transparent.html.twig" %}
{% elseif header_style == 'style3' %}
    {% include theme_path ~ "/templates/header/header-menu-big-logo.html.twig" %}
{% elseif header_style == 'style4' %}
    {% include theme_path ~ "/templates/header/header-menu-middle-logo.html.twig" %}
{% elseif header_style == 'style5' %}
    {% include theme_path ~ "/templates/header/header-menu-middle-logo-top.html.twig" %}
{% elseif header_style == 'style6' %}
    {% include theme_path ~ "/templates/header/header-menu-middle-box.html.twig" %}
{% elseif header_style == 'style7' %}
    {% include theme_path ~ "/templates/header/header-menu-side.html.twig" %}
{% elseif header_style == 'style8' %}
    {% include theme_path ~ "/templates/header/header-menu-side-lateral.html.twig" %}
{% elseif header_style == 'style9' %}
    {% include theme_path ~ "/templates/header/header-menu-side-simple.html.twig" %}
{% elseif header_style == 'style10' %}
    {% include theme_path ~ "/templates/header/header-menu-white.html.twig" %}
{% else %}
    {% include theme_path ~ "/templates/header/header-menu-classic.html.twig" %}
{% endif %}

{% if page_title == 'style1' %}
    {% include theme_path ~ "/templates/page title/page-title-image.html.twig" %}
{% elseif page_title == 'style2' %}
    {% include theme_path ~ "/templates/page title/page-title-image-fullscreen.html.twig" %}
{% elseif page_title == 'style3' %}
    {% include theme_path ~ "/templates/page title/page-title-image-fullscreen-parallax.html.twig" %}
{% elseif page_title == 'style4' %}
    {% include theme_path ~ "/templates/page title/page-title-image-parallax.html.twig" %}
{% elseif page_title == 'style5' %}
    {% include theme_path ~ "/templates/page title/page-title-image-parallax-ken-burn.html.twig" %}
{% elseif page_title == 'style6' %}
    {% include theme_path ~ "/templates/page title/page-title-video-mp4.html.twig" %}
{% elseif page_title == 'style7' %}
    {% include theme_path ~ "/templates/page title/page-title-video-youtube.html.twig" %}
{% elseif page_title == 'style8' %}
    {% include theme_path ~ "/templates/page title/page-title-video-fullscreen.html.twig" %}
{% elseif page_title == 'style9' %}
    {% include theme_path ~ "/templates/page title/page-title-video-fullscreen-parallax.html.twig" %}
{% elseif page_title == 'style10' %}
    {% include theme_path ~ "/templates/page title/page-title-video-parallax.html.twig" %}
{% elseif page_title == 'style11' %}
    {% include theme_path ~ "/templates/page title/page-title-animation.html.twig" %}
{% elseif page_title == 'style12' %}
    {% include theme_path ~ "/templates/page title/page-title-animation-parallax.html.twig" %}
{% elseif page_title == 'style13' %}
    {% include theme_path ~ "/templates/page title/page-title-base-1.html.twig" %}
{% elseif page_title == 'style14' %}
    {% include theme_path ~ "/templates/page title/page-title-base-2.html.twig" %}
{% elseif page_title == 'style15' %}
    {% include theme_path ~ "/templates/page title/page-title-bootstrap.html.twig" %}
{% elseif page_title == 'style16' %}
    {% include theme_path ~ "/templates/page title/page-title-slider.html.twig" %}
{% elseif page_title == 'style17' %}
    {% include theme_path ~ "/templates/page title/page-title-slider-fullscreen.html.twig" %}
{% elseif page_title == 'style18' %}
    {% include theme_path ~ "/templates/page title/page-title-slider-fullscreen-parallax.html.twig" %}
{% elseif page_title == 'style19' %}
    {% include theme_path ~ "/templates/page title/page-title-slider-parallax.html.twig" %}
{% else %}
{% endif %}
{% if footer_style == 'footer1' %}
    <div class="footer-parallax-container">
		{% if blog_style == 'style3' %}
			<div class="section-empty">
			    <div class="container content">
			        <div class="row">
			        	{% if blog_sidebar == 'right' %}
				            <div class="col-md-9">
				                {{ page.content_full_bar }}
								{{ page.content }}
				            </div>
				            {% if page.sidebar %}
				            <div class="col-md-3 widget">
				                {{ page.sidebar }}
				            </div>
				            {% endif %}
				        {% else %}
				        	{% if page.sidebar %}
				            <div class="col-md-3 widget">
				                {{ page.sidebar }}
				            </div>
				            {% endif %}
				            <div class="col-md-9">
				                {{ page.content_full_bar }}
								{{ page.content }}
				            </div>
				        {% endif %}
			        </div>
			    </div>
			</div>
		{% else %}
			{{ page.content_full_bar }}
			{{ page.content }}
		{% endif %}
	</div>
    {% include theme_path ~ "/templates/footer/footer-parallax.html.twig" %}
{% elseif footer_style == 'footer2' %}
    {% if blog_style == 'style3' %}
		<div class="section-empty">
		    <div class="container content">
		        <div class="row">
		        	{% if sidebar_blog == 'right' %}
			            <div class="col-md-9">
			                {{ page.content_full_bar }}
							{{ page.content }}
			            </div>
			            {% if page.sidebar %}
			            <div class="col-md-3 widget">
			                {{ page.sidebar }}
			            </div>
			            {% endif %}
			        {% else %}
			        	{% if page.sidebar %}
			            <div class="col-md-3 widget">
			                {{ page.sidebar }}
			            </div>
			            {% endif %}
			            <div class="col-md-9">
			                {{ page.content_full_bar }}
							{{ page.content }}
			            </div>
			        {% endif %}
		        </div>
		    </div>
		</div>
	{% else %}
		{{ page.content_full_bar }}
		{{ page.content }}
	{% endif %}
    {% include theme_path ~ "/templates/footer/footer-minimal.html.twig" %}
{% elseif footer_style == 'footer3' %}
    {% if blog_style == 'style3' %}
		<div class="section-empty">
		    <div class="container content">
		        <div class="row">
		        	{% if blog_sidebar == 'right' %}
			            <div class="col-md-9">
			                {{ page.content_full_bar }}
							{{ page.content }}
			            </div>
			            {% if page.sidebar %}
			            <div class="col-md-3 widget">
			                {{ page.sidebar }}
			            </div>
			            {% endif %}
			        {% else %}
			        	{% if page.sidebar %}
			            <div class="col-md-3 widget">
			                {{ page.sidebar }}
			            </div>
			            {% endif %}
			            <div class="col-md-9">
			                {{ page.content_full_bar }}
							{{ page.content }}
			            </div>
			        {% endif %}
		        </div>
		    </div>
		</div>
	{% else %}
		{{ page.content_full_bar }}
		{{ page.content }}
	{% endif %}
    {% include theme_path ~ "/templates/footer/footer-base.html.twig" %}
{% elseif footer_style == 'footer4' %}
    {% if blog_style == 'style3' %}
		<div class="section-empty">
		    <div class="container content">
		        <div class="row">
		        	{% if blog_sidebar == 'right' %}
			            <div class="col-md-9">
			                {{ page.content_full_bar }}
							{{ page.content }}
			            </div>
			            {% if page.sidebar %}
			            <div class="col-md-3 widget">
			                {{ page.sidebar }}
			            </div>
			            {% endif %}
			        {% else %}
			        	{% if page.sidebar %}
			            <div class="col-md-3 widget">
			                {{ page.sidebar }}
			            </div>
			            {% endif %}
			            <div class="col-md-9">
			                {{ page.content_full_bar }}
							{{ page.content }}
			            </div>
			        {% endif %}
		        </div>
		    </div>
		</div>
	{% else %}
		{{ page.content_full_bar }}
		{{ page.content }}
	{% endif %}
    {% include theme_path ~ "/templates/footer/footer-minimal-2.html.twig" %}
{% else %}
    {% if blog_style == 'style3' %}
		<div class="section-empty">
		    <div class="container content">
		        <div class="row">
		        	{% if blog_sidebar == 'right' %}
			            <div class="col-md-9">
			                {{ page.content_full_bar }}
							{{ page.content }}
			            </div>
			            {% if page.sidebar %}
			            <div class="col-md-3 widget">
			                {{ page.sidebar }}
			            </div>
			            {% endif %}
			        {% else %}
			        	{% if page.sidebar %}
			            <div class="col-md-3 widget">
			                {{ page.sidebar }}
			            </div>
			            {% endif %}
			            <div class="col-md-9">
			                {{ page.content_full_bar }}
							{{ page.content }}
			            </div>
			        {% endif %}
		        </div>
		    </div>
		</div>
	{% else %}
		{{ page.content_full_bar }}
		{{ page.content }}
	{% endif %}
{% endif %}
