{% set header_style = node.field_header_style.0.value %}
{% if header_style == '' %}
  {% set header_style = 'style1' %}
{% endif %}

{% set contact_style = node.field_contact_style.0.value %}
{% if contact_style == '' %}
  {% set contact_style = 'style1' %}	
{% endif %}

{% set footer_style = node.field_footer_style.0.value %}
{% if footer_style == '' %}
  {% set footer_style = 'footer1' %}
{% endif %}

{% if header_style == 'style2' %}
    {% include theme_path ~ "/templates/header/header-menu-classic-transparent.html.twig" %}
{% elseif header_style == 'style3' %}
    {% include theme_path ~ "/templates/header/header-menu-big-logo.html.twig" %}
{% elseif header_style == 'style4' %}
    {% include theme_path ~ "/templates/header/header-menu-middle-logo.html.twig" %}
{% elseif header_style == 'style5' %}
    {% include theme_path ~ "/templates/header/header-menu-middle-logo-top.html.twig" %}
{% elseif header_style == 'style6' %}
    {% include theme_path ~ "/templates/header/header-menu-middle-box.html.twig" %}
{% elseif header_style == 'style7' %}
    {% include theme_path ~ "/templates/header/header-menu-side.html.twig" %}
{% elseif header_style == 'style8' %}
    {% include theme_path ~ "/templates/header/header-menu-side-lateral.html.twig" %}
{% elseif header_style == 'style9' %}
    {% include theme_path ~ "/templates/header/header-menu-side-simple.html.twig" %}
{% elseif header_style == 'style10' %}
    {% include theme_path ~ "/templates/header/header-menu-white.html.twig" %}
{% else %}
    {% include theme_path ~ "/templates/header/header-menu-classic.html.twig" %}
{% endif %}

{% if footer_style == 'footer1' %}
    <div class="footer-parallax-container">
		{% if contact_style == 'style1' %}
			{% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
			<div class="section-empty">
			    <div class="container content">
			        <div class="row">
			            {% if page.contact %}
					    	{{ page.contact }}
					    {% endif %}
			        </div>
			    </div>
			</div>
			{{ page.content_full_bar }}
			{% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.section %}
				{{ page.section }}
			{% endif %}
		{% elseif contact_style == 'style2' %}
			<div class="section-two-blocks">
			    <div class="row vertical-row">
			        {% if page.contact_map %}
				    	{{ page.contact_map }}
				    {% endif %}
			        <div class="col-md-6">
			            <div class="content">
			                <div class="row">
			                    <div class="col-md-4">
			                        <div class="title-base text-left">
			                            <hr />
			                            <h4>{{ title }}</h4>
			                        </div>
			                    </div>
			                    {% if page.contact %}
							    	{{ page.contact }}
							    {% endif %}
			                </div>                   
			            </div>
			        </div>
			    </div>
			</div>
			{{ page.content_full_bar }}
			{% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.section %}
				{{ page.section }}
			{% endif %}
		{% elseif contact_style == 'style3' %}
			{% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
			<div class="section-empty">
			    <div class="container content">
			        <div class="row">
			            {% if page.contact %}
			            	{{ page.contact }}
			            {% endif %}
			        </div>
			    </div>
			</div>
			{{ page.content_full_bar }}
			{% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.section %}
				{{ page.section }}
			{% endif %}
		{% else %}
			<div class="section-map box-middle-container full-screen-size" data-sub-height="100">
			    {% if page.contact_map %}
			    	{{ page.contact_map }}
			    {% endif %}
			    <div class="overlaybox overlaybox-side">
			        <div class="container content">
			            <div class="row">
			                <div class="col-md-6"></div>
			                <div class="col-md-6 overlaybox-inner box-middle">
			                    <h4>{{ title }}</h4>
			                    <hr class="space s" />
			                    {% if page.contact %}
					            	{{ page.contact }}
					            {% endif %}
			                </div>
			            </div>
			        </div>
			    </div>
			</div>	
			{{ page.content_full_bar }}
			{% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.section %}
				{{ page.section }}
			{% endif %}
		{% endif %}
	</div>
    {% include theme_path ~ "/templates/footer/footer-parallax.html.twig" %}
{% elseif footer_style == 'footer2' %}
    {% if contact_style == 'style1' %}
			{% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
			<div class="section-empty">
			    <div class="container content">
			        <div class="row">
			            {% if page.contact %}
					    	{{ page.contact }}
					    {% endif %}
			        </div>
			    </div>
			</div>
			{{ page.content_full_bar }}
			{% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.section %}
				{{ page.section }}
			{% endif %}
	{% elseif contact_style == 'style2' %}
		<div class="section-two-blocks">
		    <div class="row vertical-row">
		        {% if page.contact_map %}
			    	{{ page.contact_map }}
			    {% endif %}
		        <div class="col-md-6">
		            <div class="content">
		                <div class="row">
		                    <div class="col-md-4">
		                        <div class="title-base text-left">
		                            <hr />
		                            <h4>{{ title }}</h4>
		                        </div>
		                    </div>
		                    {% if page.contact %}
						    	{{ page.contact }}
						    {% endif %}
		                </div>                   
		            </div>
		        </div>
		    </div>
		</div>
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% elseif contact_style == 'style3' %}
		{% if page.contact_map %}
	    	{{ page.contact_map }}
	    {% endif %}
		<div class="section-empty">
		    <div class="container content">
		        <div class="row">
		            {% if page.contact %}
		            	{{ page.contact }}
		            {% endif %}
		        </div>
		    </div>
		</div>
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% else %}
		<div class="section-map box-middle-container full-screen-size" data-sub-height="100">
		    {% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
		    <div class="overlaybox overlaybox-side">
		        <div class="container content">
		            <div class="row">
		                <div class="col-md-6"></div>
		                <div class="col-md-6 overlaybox-inner box-middle">
		                    <h4>{{ title }}</h4>
		                    <hr class="space s" />
		                    {% if page.contact %}
				            	{{ page.contact }}
				            {% endif %}
		                </div>
		            </div>
		        </div>
		    </div>
		</div>	
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% endif %}
    {% include theme_path ~ "/templates/footer/footer-minimal.html.twig" %}
{% elseif footer_style == 'footer3' %}
    {% if contact_style == 'style1' %}
			{% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
			<div class="section-empty">
			    <div class="container content">
			        <div class="row">
			            {% if page.contact %}
					    	{{ page.contact }}
					    {% endif %}
			        </div>
			    </div>
			</div>
			{{ page.content_full_bar }}
			{% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.section %}
				{{ page.section }}
			{% endif %}
	{% elseif contact_style == 'style2' %}
		<div class="section-two-blocks">
		    <div class="row vertical-row">
		        {% if page.contact_map %}
			    	{{ page.contact_map }}
			    {% endif %}
		        <div class="col-md-6">
		            <div class="content">
		                <div class="row">
		                    <div class="col-md-4">
		                        <div class="title-base text-left">
		                            <hr />
		                            <h4>{{ title }}</h4>
		                        </div>
		                    </div>
		                    {% if page.contact %}
						    	{{ page.contact }}
						    {% endif %}
		                </div>                   
		            </div>
		        </div>
		    </div>
		</div>
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% elseif contact_style == 'style3' %}
		{% if page.contact_map %}
	    	{{ page.contact_map }}
	    {% endif %}
		<div class="section-empty">
		    <div class="container content">
		        <div class="row">
		            {% if page.contact %}
		            	{{ page.contact }}
		            {% endif %}
		        </div>
		    </div>
		</div>
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% else %}
		<div class="section-map box-middle-container full-screen-size" data-sub-height="100">
		    {% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
		    <div class="overlaybox overlaybox-side">
		        <div class="container content">
		            <div class="row">
		                <div class="col-md-6"></div>
		                <div class="col-md-6 overlaybox-inner box-middle">
		                    <h4>{{ title }}</h4>
		                    <hr class="space s" />
		                    {% if page.contact %}
				            	{{ page.contact }}
				            {% endif %}
		                </div>
		            </div>
		        </div>
		    </div>
		</div>	
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% endif %}
    {% include theme_path ~ "/templates/footer/footer-base.html.twig" %}
{% elseif footer_style == 'footer4' %}
    {% if contact_style == 'style1' %}
			{% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
			<div class="section-empty">
			    <div class="container content">
			        <div class="row">
			            {% if page.contact %}
					    	{{ page.contact }}
					    {% endif %}
			        </div>
			    </div>
			</div>
			{{ page.content_full_bar }}
			{% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.section %}
				{{ page.section }}
			{% endif %}
	{% elseif contact_style == 'style2' %}
		<div class="section-two-blocks">
		    <div class="row vertical-row">
		        {% if page.contact_map %}
			    	{{ page.contact_map }}
			    {% endif %}
		        <div class="col-md-6">
		            <div class="content">
		                <div class="row">
		                    <div class="col-md-4">
		                        <div class="title-base text-left">
		                            <hr />
		                            <h4>{{ title }}</h4>
		                        </div>
		                    </div>
		                    {% if page.contact %}
						    	{{ page.contact }}
						    {% endif %}
		                </div>                   
		            </div>
		        </div>
		    </div>
		</div>
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% elseif contact_style == 'style3' %}
		{% if page.contact_map %}
	    	{{ page.contact_map }}
	    {% endif %}
		<div class="section-empty">
		    <div class="container content">
		        <div class="row">
		            {% if page.contact %}
		            	{{ page.contact }}
		            {% endif %}
		        </div>
		    </div>
		</div>
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% else %}
		<div class="section-map box-middle-container full-screen-size" data-sub-height="100">
		    {% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
		    <div class="overlaybox overlaybox-side">
		        <div class="container content">
		            <div class="row">
		                <div class="col-md-6"></div>
		                <div class="col-md-6 overlaybox-inner box-middle">
		                    <h4>{{ title }}</h4>
		                    <hr class="space s" />
		                    {% if page.contact %}
				            	{{ page.contact }}
				            {% endif %}
		                </div>
		            </div>
		        </div>
		    </div>
		</div>	
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% endif %}
    {% include theme_path ~ "/templates/footer/footer-minimal-2.html.twig" %}
{% else %}
    {% if contact_style == 'style1' %}
			{% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
			<div class="section-empty">
			    <div class="container content">
			        <div class="row">
			            {% if page.contact %}
					    	{{ page.contact }}
					    {% endif %}
			        </div>
			    </div>
			</div>
			{{ page.content_full_bar }}
			{% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.section %}
				{{ page.section }}
			{% endif %}
	{% elseif contact_style == 'style2' %}
		<div class="section-two-blocks">
		    <div class="row vertical-row">
		        {% if page.contact_map %}
			    	{{ page.contact_map }}
			    {% endif %}
		        <div class="col-md-6">
		            <div class="content">
		                <div class="row">
		                    <div class="col-md-4">
		                        <div class="title-base text-left">
		                            <hr />
		                            <h4>{{ title }}</h4>
		                        </div>
		                    </div>
		                    {% if page.contact %}
						    	{{ page.contact }}
						    {% endif %}
		                </div>                   
		            </div>
		        </div>
		    </div>
		</div>
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% elseif contact_style == 'style3' %}
		{% if page.contact_map %}
	    	{{ page.contact_map }}
	    {% endif %}
		<div class="section-empty">
		    <div class="container content">
		        <div class="row">
		            {% if page.contact %}
		            	{{ page.contact }}
		            {% endif %}
		        </div>
		    </div>
		</div>
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% else %}
		<div class="section-map box-middle-container full-screen-size" data-sub-height="100">
		    {% if page.contact_map %}
		    	{{ page.contact_map }}
		    {% endif %}
		    <div class="overlaybox overlaybox-side">
		        <div class="container content">
		            <div class="row">
		                <div class="col-md-6"></div>
		                <div class="col-md-6 overlaybox-inner box-middle">
		                    <h4>{{ title }}</h4>
		                    <hr class="space s" />
		                    {% if page.contact %}
				            	{{ page.contact }}
				            {% endif %}
		                </div>
		            </div>
		        </div>
		    </div>
		</div>	
		{{ page.content_full_bar }}
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% endif %}
{% endif %}